{% extends 'base.html' %}

{% block title %}
<title>
    Toppings
</title>
{% endblock %}

{% block content %}
<div class="col-12">
    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <td> <center><u>Name</u></center></td>
            </tr>
        </thead>
        <tbody>
            {% for topping in page_obj %}
            <tr>
                <td>{{ topping.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}



