{% extends 'base.html' %}

{% block title %}
<title>
    Our Drinks
</title>
{% endblock %}

{% block content %}
<div class="col-12">
    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <td>Name</td>
                <td>Temperature</td>
                <td>Topping Options</td>
            </tr>
        </thead>
        <tbody>
            {% for ourDrinks in ourdrinks %}
            <tr>
                <td>{{ ourDrinks }}</td>
                <td>{{ ourDrinks.temperature }}</td>
                <td>{{ ourDrinks.toppings.all|join:', ' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="post" action="">
        {% csrf_token %}
        <input name="name" type="text"/>
        <button type="submit">Search</button>
    </form>
</div>
{% endblock %}

