{% extends 'base.html' %}

{% block title %}
<title>
    Our Drinks
</title>
{% endblock %}


{% block content %}

<center>
    {% if user.is_authenticated %}
    Hello,  {{ user.get_username }}
    {% endif %}
</center>

<div class="col-12">

    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <td>Name</td>
                <td>Temperature</td>
                <td>Topping Options</td>
            </tr>
        </thead>
        <tbody>
            {% for ourDrinks in page_obj %}
            <tr>
                <td>{{ ourDrinks }}</td>
                <td>{{ ourDrinks.temperature }}</td>
                <td>{{ ourDrinks.toppings.all|join:', ' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
	
	<div class="pagination" style=" font-size: medium; left:20%">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
	
    <form method="post" action="" style=" top:100% ; left:0%">
        {% csrf_token %}
        <input name="name" type="text"/>
        <button type="submit">Search</button>
    </form>

    <a href="{% url 'logout' %}?next={{ request.path }}" style="position: absolute ; top:85% ; left:80%"> Log Out</a>
</div>
{% endblock %}

