body
{
	background-color: #c1f3d6;
	/*background-color: #ffe9ec;*/
}

.top
{
	background-color: #fff4d1;
	position: absolute;
	top:0;
	left:0;
	height: 20%;
	width: 100%;
}

a:link
{
	
	color: #0a589d;
	background-color: transparent;
	text-decoration: none;
}

a:visited
{
	
	color: #0a589d;
	background-color: transparent;
	text-decoration: none;
}

a:hover
{
	
	color: #3a973c;
	background-color: transparent;
	text-decoration: none;
}

#button_container
{
	position: absolute;
	top: 4%;
	right: 0%;
	width: 100%;
	height: 9%;
}

.button
{
	position: absolute;
	background: none;
	border: none;
	font-size: 23px;
	font-family: Berlin Sans FB;
	position: absolute;
	width:20%;
	height:100%;
}

.button:nth-child(1)
{
	
	top:0;
	left:0;
}

.button:nth-child(2)
{
	
	top:0;
	left:20%;
}

.button:nth-child(3)
{
	
	top:0;
	left:60%;
}

.button:nth-child(4)
{
	
	top:0;
	left:80%;
}

#content
{
	position: absolute;
	top: 27%;
	left: 10%;
	font-size: 20px;
	width: 80%;
	height: 50%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: plum;
}

tr:nth-child(even) {
  background-color: #fff4d1;
}